---
layout: default
---

<ul>
  {% for app in site.data.apps.featured %}
    <li>
      <h3><a href="{{ app.url }}">{{ app.name }}</a></h3>
      <p>{{ app.business_description }}</p>
      <p>{{ app.rails_info.description }}</p>
    </li>
  {% endfor %}
</ul>

<hr>

<ul>
  {% assign other_sorted = site.data.apps.other | sort: 'name' %}
  {% for app in other_sorted %}
    <li>
      <h3><a href="{{ app.url }}">{{ app.name }}</a></h3>
      <p>{{ app.business_description }}</p>
      <p>{{ app.rails_info.description }}</p>
    </li>
  {% endfor %}
</ul>
