---
---

$text-gray: rgba(158, 158, 158, 1);
$text-blue: rgba(8, 170, 206, 1);
$text-hover: rgba(10, 211, 255, 1);
$red: rgba(195, 151, 159, 1);
$dark-green: rgba(2, 60, 64, 1);

a {
  color: $text-blue;
}

a:hover {
  color: $text-hover;
}

.red {
  color: $red;
}

.text-gray {
  color: $text-gray;
}

.hero-style {
  color: $dark-green;
  background-color: $text-hover;

  h2 {
    color: $dark-green;
  }

  a {
    color: $dark-green;
    font-weight: bold;
  }

  a:hover {
    color: lighten($dark-green, 10%)
  }
}

.navbar-style {
  padding-bottom: 0.45em;
  border-bottom: 1px solid rgba(219,219,219,.5);
}

.is-centered {
  text-align: center;
}

.is-vertically-centered {
  display: flex;

  img {
    align-self: center;
  }
}

