<!DOCTYPE html>
<html class="">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112423887-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112423887-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="builtonrails.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="The definitive list of applications built with Ruby on Rails." />
    <meta property="og:image" content="http://builtonrails.surge.sh/images/builtonrails-logo.png" />
    <meta name="twitter:image" content="http://builtonrails.surge.sh/images/builtonrails-logo.png" />

    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <navbar class="navbar navbar-style">
      <div class="navbar-brand">
        <div class="navbar-item">
          <img class="image" src="/images/builtonrails-logo.png" />
        </div>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <h6 class="title is-6 text-gray">
              Powering the sites you
              <span class="icon is-small red">
                <i class="fa fa-heart"></i>
              </span>
            </h6>
          </div>
        </div>
      </div>
    </navbar>
    <section class="hero hero-style">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">
            <a href="http://rubyonrails.org/">Ruby on Rails</a>
            powers hundreds of thousands of web applications.
            It's powerful, scalable and easy to learn. The companies
            below rely on Rails every day.
          </h2>
          <p class="is-centered">
            <a class="button is-white" href="https://github.com/mctaylorpants/builtonrails.com/blob/master/CONTRIBUTING.md">Submit a site</a>
          </p>
        </div>
      </div>
    </section>
    {{ content }}
    <section class="section hero-style">
      <footer class="footer hero-style">
        <div class="container">
          <div class="content has-text-centered">
            <p><a class="button is-white" href="https://github.com/mctaylorpants/builtonrails.com/blob/master/CONTRIBUTING.md">Submit a site</a></p>
            <hr>
            <p>
              Made with
              <span class="icon is-small"><i class="fa fa-heart"></i></span>
              by
              <a href="https://twitter.com/mctaylorpants">@mctaylorpants</a>
            </p>
            <p>
              Powered by
              <a href="https://jekyllrb.com/">jekyll</a>
              and
              <a href="http://surge.sh/">Surge</a>
            </p>
          </div>
        </div>
      </footer>
    </section>
  </body>
</html>
